@model RaoVat.Models.USER

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<style>
    .field-validation-error {
        color: red;
    }
</style>
<h2 class="mg-t-cate">Đăng Nhập</h2>
@using (Html.BeginForm("LoginAcc", "User"))
{
    @Html.AntiForgeryToken()
    <table style="margin-left:550px">
        <tr>
            <td>@Html.LabelFor(model => model.TENDANGNHAP)</td>
            <td>@Html.TextBoxFor(model => model.TENDANGNHAP, new { Styles = "field-validition-error" })</td>

        </tr>
        <tr>
            <td>@Html.ValidationMessageFor(model => model.TENDANGNHAP)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.MATKHAU)</td>
            <td>@Html.EditorFor(model => model.MATKHAU)</td>
        </tr>
        <tr>
            <td>@Html.ValidationMessageFor(model => model.MATKHAU)</td>
            <td>
                @if (ViewBag.ErrorInfo == null)
                {
                    <p>@ViewBag.ErrorInfo</p>
                }
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Đăng Nhập" /></td>
        </tr>
    </table>
}

<br />
<br />
<br />
<br />
<br />